#cart{
    height: 85vh;
    width: 100vw;
    display: flex;
}

.product-section{
    border: 5px solid blue;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: column;
    gap: 10px
}

.payment-section{
    border: 5px solid brown;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}