.cart-itemcard{
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

.cart-itemimg{
    width: 90px;
    height: 120px;
}

.cart-title-price{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-itemtotalprice{
    font-weight: 600;
}

.delete-button{
    border: 1px solid black;
    width: 50px;
    height: 25px;
    background-color: rgb(253, 253, 253);
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.delete-button:hover{
    background-color: rgb(247, 84, 84);
    cursor: pointer;
    color: white;
}